:root {
  --font-family-main: Consolas, Serif;
  --font-size-m: 16px;
  --font-size-lg: 24px;
  --font-size-xl: 32px;
  --font-line-m: 24px;
  --font-line-lg: 32px;
  --font-line-xl: 40px;
  --font-m: var(
    var(--font-family-main),
    var(--font-size-m),
    var(--font-line-m),
  );
  --font-lg: var(
    var(--font-family-main),
    var(--font-size-lg),
    var(--font-line-lg)
  );
  --font-xl: var(
    var(--font-family-main),
    var(--font-size-xl),
    var(--font-line-xl)
  );

  ///Sizes
  --navbar-height: 50px;
  --sidebar-width: 300px;
  --sidebar-width-collapsed: 80px;
  /// Indexes
  --modal-z-index: 10;

  //colors
  --overlay: rgba(0 ,0 ,0 , .6);
  --error: rgb(186, 47, 47);
}