.ArticleDetails{
    min-height:100%;
}
.avatar{ 
    margin: 0 auto;

}
.title{
    margin-top: 20px;
}
.skeleton{
    margin-top: 15px;
}
.info{
    display: flex;
    align-items: center;
}

.icon{
    margin-right: 8px;
}

.avatarWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}
.text{
    font-size: 24px;
}
.article_block{
    margin-top: 15px;
}