.ProfileCard{
    padding: 10px 20px;
    border: 2px solid var(--inverted-bg-color);
    margin-top: 20px;
}

.input{
    margin: 10px auto;
}
.loading .error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
.avatarWrapper{
    display: flex;
    justify-content: center;
    pointer-events: none;
}
.editing{
    border: 2px solid var(--inverted-primary-color);   
}